h1,h2{font-family: sans-serif;}
h1{color: chocolate;
    background-color: burlywood;
    text-align: center;
}
img{float: left;
    border-style: dotted 10px yellow;
    margin: auto;
    padding: auto;
}
ul{
    list-style-type:square ;
}
