h1,h2{font-family: sans-serif;}
h1{color: chocolate;
    background-color: burlywood;
    text-align: center;
}
img{float: left;
    border: solid 10px red;
    margin-right: 12px;
    padding: 2px;
}
ul{
    list-style-type:square ;
}
h2{
    text-align: left;
}